*{
    margin: 0;
}
body{
    text-align: center;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
.main{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.container{
    box-sizing: border-box;
    z-index: -1;
    width: 30vmax;
    height: 30vmax;
    border: 0.5vmax solid;
    border-radius: 30vmax;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.a1{
    width: 2vmax;
    height: 45vmax;
    background-color: black;
    position: absolute;
}
.a2{
    width: 2vmax;
    height: 45vmax;
    background-color: black;
    position: absolute;
    transform: rotate(60deg);
}
.a3{
    width: 2vmax;
    height: 45vmax;
    background-color: black;
    position: absolute;
    transform: rotate(120deg);
}
.a4{
    width: 5vmax;
    height: 5vmax;
    background-color: blue;
    border-radius: 10vmax;
    position: absolute;
}
.a5{
    width: 2vmax;
    height: 2vmax;
    background-color: black;
    border-radius: 10vmax;
    position: absolute;
}
.arrow{
    box-sizing: border-box;
    background-color: blue;
    color: blue;
    width: 30vmax;
    height: 3vmax;
    border-radius: 4vmax;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: end;
    font-size: 15vmax;
    font-style: normal;
    box-shadow: 0vmax 1vmax 2vmax blue;
}
.bottom{
    margin-top: 5vmax;
    display: flex;
    gap: 2vmax;
    justify-self: center;
    flex-direction: column;
}
#spin{
    width: 10vmax;
    height: 3vmax;
    font-size: 2vmax;
    border: none;
    background-color: tomato;
    border-radius: 1.5vmax;
    box-shadow: 0vmax 1vmax 3vmax tomato;
}
#spin:hover{
    box-shadow: 0vmax 2vmax 3vmax red;
}
#reset{
    width: 10vmax;
    height: 3vmax;
    font-size: 2vmax;
    border: none;
    background-color: darksalmon;
    border-radius: 1.5vmax;
    box-shadow: 0vmax 1vmax 3vmax magenta;
}
#reset:hover{
    box-shadow: 0vmax 2vmax 3vmax darkmagenta;
}
#p1{
    font-weight: 600;
    position: absolute;
    margin-right: 20vmax;
    font-size: 3vmax;
    font-style: normal;
    transform: rotate(90deg);
}
#p2{
    font-weight: 600;
    position: absolute;
    margin-left: 22vmax;
    font-size: 3vmax;
    transform: rotate(-90deg);
}
#p3{
    font-weight: 600;
    position: absolute;
    margin-top: 20vmax;
    margin-left: 10vmax;
    font-size: 3vmax;
    transform: rotate(-30deg);
}
#p4{
    font-weight: 600;
    position: absolute;
    font-style: normal;
    margin-top: 18vmax;
    margin-right: 10vmax;
    font-size: 3vmax;
    transform: rotate(30deg);
}
#p5{
    font-weight: 600;
    position: absolute;
    margin-bottom: 20vmax;
    margin-right: 10vmax;
    font-size: 3vmax;
    transform: rotate(150deg);
}
#p6{
    font-weight: 600;
    position: absolute;
    font-style: normal;
    margin-bottom: 18vmax;
    margin-left:10vmax;
    font-size: 3vmax;
    transform: rotate(-150deg);
}
#result{
    text-align: center;
    font-size: 4vmax;
    font-weight: 600;
    font-style: normal;
}
